:root {
  --color-primary: #1D3557;        /* Navy Blue */
  --color-secondary: #2C5E8E;      /* Mid-tone Blue */
  --color-background: #FFFFFF;     /* White */
  --color-background-alt: #F1FAEE; /* Light Gray */
  --color-text: #1D3557;           /* Navy-ish Gray */
  --color-text-light: #f2f7ff;     /* Whiteish blueish white but kinda */
  --color-accent: #A8DADC;         /* Light Sky Blue */

  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;

  --border-radius: 4px;

  --transition-speed: 0.3s;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}

a {
  color: var(--color-secondary);
  transition: color var(--transition-speed) ease;
}

a:hover {
  color: var(--color-primary);
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-speed) ease;
}

.button:hover {
  background-color: var(--color-primary);
}

.card {
  background-color: var(--color-background-alt);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.animated-background {
  background: radial-gradient(circle at center, var(--color-secondary) 0%, var(--color-primary) 100%);
  display: flex; 
  flex-direction: column;
  flex: 1;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes typing {
  0% { width: 0ch; }
  99% { width: 70ch; border-right: 0.15em solid var(--color-text-light); }
  100% { width: 70ch; border-right: none; }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}
